* {
  margin: 0;
  padding: 0;
  border: border-box;
}
html {
  /* background-image: url(https://media.giphy.com/media/BgCpQOyqyyzle/giphy.gif); */
  background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1vh;
}
/* NAVBAR STUFF */
.header {
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.logo {
  font-size: 2em;
  opacity: 0;
}
.links {
  align-content: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
.link {
  text-decoration: none;
  opacity: .15;
}
.link:hover {
  color:rebeccapurple;
  opacity: 10;
}
#linkTwo {
  padding-left: 1em;
}
#linkThree {
  padding-left: 1em;
}

/* Main Stuff */



/* Footer Stuff */
.footer {
  align-self: flex-end;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  position: absolute;
}
.footer-text {
  display: flex;
  justify-content: space-between;
}