.bodyHeader{
    
    text-align: center;
}


.container{
    flex-direction: row-reverse;
}

body{
    
    background-image: url(https://media0.giphy.com/media/mc19PEWvaclAk/giphy.gif?cid=ecf05e47ul250tqzi1f7hvl4q7twzpv1q2m95rf4sh1wis0u&rid=giphy.gif&ct=g);
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}



.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
    text-align: right;
    padding: 2em 0;
    position: absolute;
    width: 100%;
    color: white;
  }
